.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  font-family: Arial, sans-serif;
  background-color: blueviolet;
  margin: 0;
  padding: 0;
}

.content {
  padding: 10px 20px;
  height: 88vh;
}
.box {
  display: flex;
  height: 88vh;
  background-color: #f5f5f5;
}

.navbar {
  width: 200px;
  background-color: #192938;
  padding: 24px 16px;
}

.navbar-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.number-name {
  display: flex;
  align-items: center;
  gap: 12px;
}

.number {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #909490;
  color: #f9fcff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number.complete {
  background: blueviolet;
}
.number.done {
  background-color: #3cd81c;
  color: white;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.section-name {
  font-size: 16px;
  font-weight: 500;
  color: #dcdee0;
}
.section-text{
  font-size: 1.2rem;
  font-weight: 500;
  padding: 5px 0px;
}

.carts {
  height: 60vh;
  /* background:; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 2px solid #fff;
  background-color: white;
  cursor: pointer;
  width: 58vw;
  height: 16vh;
  padding: 0px 10px;
}

.cart.active {
  border-color: #3cd81c;
}
.name-desc {
  display: flex;
  flex-direction: column;
}
.cart-name {
  font-size: 18px;
  font-weight: 600;
}
.img-nameBox {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cart-desc {
  color: #6b7280;
  font-size: 1rem;
}
.cart-price {
  font-size: 1.2rem;
  font-weight: 500;
  color: #10b981;
}

.next-btn {
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  font-weight: 500;
  border: 0;
  height: fit-content;
}
.btn-box {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.btn-box.step1 {
  justify-content: flex-end;
}
.next-btn-box {
  height: 12vh;
  display: flex;
  align-items: end;
}
.btn-back {
  border: 0;
  font-size: 1.1rem;
  font-weight: 600;
  height: fit-content;
  cursor: pointer;
  background: inherit;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.service-imgAndName {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart1.active {
  border: 2px solid #10b981;
  background-color: #ecfdf5;
}
.doctor-img {
  width: 60px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.label-input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.box-input {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

input {
  padding: 14px;
  width: 27vw;
  border: 0;
  font-size: 1.2rem;
}
input::placeholder{
  color: black;
}
form {
  padding: 0px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 42vh;
}
.section4 {
  min-height: 70vh;
}

.booking-btn {
  font-weight: 600;
  padding: 5px 10px;
}
.report {
  margin: 0px 0px 0px 20px;
  padding: 3px 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.calendar {
  height: 60vh;
  display: flex;
  gap: 5px;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
}

.calendar-timer {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.timer-box-text {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}
.timer-text {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 20px;
}
.date-time{
  display: flex;
}
/* responsive */

@media (max-width: 768px) {
  .navbar {
    width: 90px;
    height: 100vh;
    padding: 10px;
    
  }

  .navbar-items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  .number-name {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
  }

  .number {
    width: 40px;
    height: 40px;
  }

  .section-name {
    font-size: 12px;
    max-width: 60px;
  }
}


@media (max-width: 768px) {
  .container{
    height: fit-content;
  }
 
  .content {
  padding: 10px 10px;
  height: fit-content;
}
.box{
  height: 100vh;
}
  .carts {
    grid-template-columns: repeat(3, 1fr);
    height: 70vh;
  }
  .cart {
    height: fit-content;
      width: 62vw;
    padding: 10px;
  }
  .cart-name {
    font-size: 0.7rem;
  }
  .cart-price{
    font-size: 1rem;
  }

  .doctor-img {
    width: 35px;
    height: 35px;
  }
  .cart-desc {
    font-size: 0.5rem;
  }
  .calendar-timer{
    flex-direction: column;
  }
  .calendar{
      padding: 10px 5px;
       height: fit-content;
       width: fit-content;
  }
  .timer-box-text{
    width: 63vw;
    height: 30vh;
    padding: 10px;
  }
  .timer-text{
    margin: 2px;
  }
  .next-btn-box{
    height: 8vh;
  }
  form{
      height: fit-content;
      gap: 10px;
  }
  input {
  padding: 10px;
  width: 55vw;
  border: 0;
  font-size: 1rem;
}

.box-input{
  flex-direction: column;
  gap: 10px;
}
.booking-btn {
  font-weight: 500;
  padding: 5px 5px;
  font-size: .7rem;
}
.btn-back{
  font-size: 0.8rem;
  padding-bottom: 6px;
}
.report{
  margin: 0px 0px 0px 10px;
}
.date-time{
  flex-direction: column;
}
}

